@use "../../../styles/vars" as *;
@use "./heroVars.scss" as *;
@use "../../../styles/animations.scss" as*;

.hero-image{
    width: 100%;
}



.first-hero{
    .hero-title{
        color: $HeroTitleColor;
        background-color: $HeroTitleBG;
        border-radius: $HeroTitleRadius;
    }
    .hero-sub{
        color: $HeroSubTitleColor;
        background-color: $HeroSubTitleBG;
        border-radius: $HeroSubTitleRadius;
    }
}
.hero-cont{
    height: $HeroContHY;
   // background: rgba(13, 72, 161, 0.475);
    //backdrop-filter: blur(18px);
    border-radius: 20px;
    box-shadow:
        0 10px 15px rgba(0, 55, 255, 0.6);
   // border: $HeroCTASectionBorder;
    .textual-hero{
        width: $TextualHeroWX;
        .hero-cta-section{
            gap: $HeroCTASectionGap;
        }
    }
}
.hero-image{
    background: rgb(238,238,238);
    background: -moz-radial-gradient(circle, rgba(238,238,238,1) 0%, $HeroSectionBG $HeroImageRadialGradPos);
    background: -webkit-radial-gradient(circle, rgba(238,238,238,1) 0%, $HeroSectionBG $HeroImageRadialGradPos);
    background: radial-gradient(circle, rgba(238,238,238,1) 0%, $HeroSectionBG $HeroImageRadialGradPos);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee",endColorstr="#1a1a1a",GradientType=1);
    height: $HeroImageContHY;
    .hero-image-wh{
        width: $HeroImageWX;
        height: $HeroImageHY;
        animation: fadeInNotBig $HeroImageFadeInS ease;
    }
}
.hero-section{
    background: $HeroSectionBG;
    height: $HeroSectionHY;
    /*.textual-hero{
        align-self: $HeroTextualAlign;
        padding: $HeroTextualPadding;

    }*/
    .cta-button{
        
        
        transition: all 1s ease;
        background-color: #0d47a1;
        width: 10vw;
        height: 10vh;
        position: relative;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }
        &:hover{
            &::before{
                animation: scaleToEndAndOpac 0.6s ease ;
                animation-fill-mode: forwards;
                width: 100%;
                background-color: $HeroCTABeforeHoverBG;
            }
            background-color: $HeroCTABeforeHoverBG;
        }
    }
}
.hero-me{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 100%;
}
@media (max-width:768px){
    .hero-section{
        height: 100vh;
        padding: $HeroPadding768;
    }
    .hero-image{
        height: 100%;
        .hero-image-wh{
            width: 100%;
            height: 100%;
        }
    }
    .hero-cta-section{
        width: 100%;
        .cta-button{
            width: 100%;
        }
    }
    .textual-hero{
        width: 100%;
        height: 100%;
    }
  
}