.color-terminal{
    font-family: 'JetBrains Mono', monospace;
    color: #00ff00;
}

.after-terminal-type{
    &::after{
        content: "▍";
        animation: blink 0.6s infinite;
    }
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}




.skip-button{
    cursor: pointer;
    top: 83%;
    left: 75%;
    background-color: rgba(255, 216, 216, 0.078);
    padding: .5rem 1rem;
    border-radius: 30px;
    font-weight: bold;
    transition: all 0.6s;
    &:hover{
        background-color: #eee;
        color: #0b5d01;
    }
    @media (min-width: 768px) {
        top: 80%;
        left: 92%;
    }
}

.icon-to-show{
    cursor: pointer;
    transform: rotate(-90deg);
}
.show-again-cont{
    background: linear-gradient(180deg,transparent 10%, rgba(16, 16, 28, 1) 55%);
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
        background: linear-gradient(180deg,transparent 50%, rgba(16, 16, 28, 1) 70%);
        transition: all 0.3s ease-in-out;
        z-index: 10;
        &:hover{
            transform: translateY(-10px);
        }
    }
}
