$NavGapSeparation: 70vw;
$PaddingTop: 3vh;
$NavBG: transparent;


$CartLengthBG: rgb(181, 80, 3);
$CartLengthColor: #ffffff;
$CartLengthWX: 1.2rem;
$CartLengthHY: 1.2rem;
$CartLengthTop: -60%;
$CartLengthLeft: 90%;
$CartLengthTxtSize: 0.8rem;

$NavLinksQuant: 4;
$OfferBG: #222;
$TranspNavBG: none;
$OpenNavAnimMS: 0.5s;
$CloseNavAnimMS: 0.5s;
$NavHY: 10vh;