$FooterContHY: auto;
$FooterCont-Padding: 30px 0;
$FooterFlexDir: column;
$FooterAlignY: center;//Recuerda qu
$FooterAlignX: center;

$Footer-BRD: 4px solid #777;

$FooterInsideWX: 100%;
$FooterInsideHY: 70%;

$FooLinksContWidth: 100%;
$FooLinksContAlignX: center;
$FooLinksContAlignY: center;
$FooLinksCont-Gap: 7rem;
$FooLinksContDir: row;
$FooterLinksGap: 3rem;

$FooOthLinksJustify: center;

$FooterRRSSContWidth: 30%;
$FooterRRSSCont-HY: 20vh;

$FooRRSSContJustify: center;
$FooterRRSSInsWidth: 100%;
$FooterRRSSInsJustify: center;
$FooterRRSSGap: 40px;

$FooSectionTitleColor: #444;
$FooLinkColor: #161616;
$FooLinkHoverColor: #eee;
$FooRRSSColor: #333;
$FooRRSSHoverColor: #e9e9e9;
$FooRRSS-Principal-Color: #333;
$FooRRSS-Secondary-Color: #fff;

$FooRRSSSize: 3rem;

$Footer-RRSSCont-Padding: 0 40px;