$ProjectsTitleSize: 60px;
$ProjectsAdviseSize: 20px;
$ProjectsTitlePadding: 0;
$ProjectsSectionMinHY: 145vh;
$ProjectsGap: 80px;

$ProjectsGridColsSize: 400px;
$ProjectsGridRowsSize: 400px;
$ProjectsGridGap: 100px;
$ProjectsGridPadding: none;

$ProjectItemRadius: 10px;
$ProjectItemPadding: 0;
$ProjectItemOpacTransS: 0.8s;

$ProjectItemDepStateSize: 0.8rem;

$ProjectItemOnlineColor: #14ef05;
$ProjectItemOnlineSize: $ProjectItemDepStateSize;

$ProjectItemOfflineColor: #af1919;
$ProjectItemOfflineSize: $ProjectItemDepStateSize;



$ProjectItemTitleSize: 1.5rem;
$ProjectItemTitleColor: #ffffff;
$ProjectItemSubTitleSize: 1.1rem;
$ProjectItemSubTitleColor:  #333;
$ProjectItemTxtColor: #eee;
$ProjectItemTxtSize: 1.2rem;

$ProjectItemBorder: none;

$ProjectItemDownWX: 15rem;
$ProjectItemDownHY: 15rem;

$ProjectItemOverPadding: 1rem;
$ProjectItemOverBG: #5e80d881;
$ProjectItemOverBlur: 4px;

$ProjectItemOverRadius: 20px;
$ProjectItemOverColor: #ffffff;
$ProjectItemOverBG: #111;




